:root {
  // Color
  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(6, 14, 16, 1);
  --color-black-light: rgba(22, 20, 20, 0.85);
  //////////////////////////////////
  --color-blue: rgba(13, 55, 64, 1);
  --color-blue-light: rgba(10, 95, 108, 1);
  //////////////////////////////////
  --color-red: rgba(255, 0, 0, 1);

  // Width
  --page-width: 100rem;
}
