:root {
  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(6, 14, 16, 1);
  --color-black-light: rgba(22, 20, 20, 0.85);
  --color-blue: rgba(13, 55, 64, 1);
  --color-blue-light: rgba(10, 95, 108, 1);
  --color-red: rgba(255, 0, 0, 1);
  --page-width: 100rem;
}

@keyframes rotateInCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media screen and (min-width: 144em) {
  html {
    font-size: 75%;
  }
}
@media screen and (max-width: 102.4em) {
  html {
    font-size: 56.25%;
  }
}
@media screen and (max-width: 76.8em) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 42.5em) {
  html {
    font-size: 43.75%;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-black);
}

.heading, .heading--3, .heading--2, .heading--1 {
  display: inline-block;
  text-transform: uppercase;
  padding: 1rem;
}
.heading--1 {
  font-size: 2rem;
}
.heading--2 {
  font-size: 1.7rem;
}
.heading--3 {
  font-size: 1.5rem;
}

.card__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 15.5rem));
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  overflow: hidden;
}
.card__item {
  background-color: var(--color-black);
  height: 20rem;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 800px) {
  .card__item:focus .card__image, .card__item:hover .card__image {
    transform: scale(1.15);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    filter: blur(2px);
  }
  .card__item:focus .card__icon, .card__item:hover .card__icon {
    opacity: 1;
    visibility: visible;
  }
}
.card__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: all 0.2s ease;
}
.card__icon {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 1000;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  fill: var(--color-white);
}
@media screen and (min-width: 800px) {
  .card__icon {
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
  }
}
.card__content {
  background-color: var(--color-black-light);
  color: var(--color-white);
  width: 100%;
  min-height: 4rem;
  padding: 0.5rem;
  text-transform: capitalize;
  position: absolute;
  top: 45%;
  font-size: 1.2rem;
  z-index: 1000;
}
.card__link {
  color: var(--color-white);
  text-decoration: none;
}

.spinner {
  display: block;
  margin: 10rem auto;
  width: 25rem;
  height: 25rem;
  fill: var(--color-white);
  animation: rotateInCircle 2s ease infinite;
}

.app {
  background-color: var(--color-black);
  max-width: 100%;
  min-height: 100vh;
}

.favourites {
  max-width: var(--page-width);
  min-height: 40rem;
  margin: 0 auto;
  padding: 2rem 0;
  color: var(--color-white);
}

.favourite__item .card__icon {
  fill: var(--color-red);
}

.footer {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 2rem;
  background-color: rgba(7, 11, 12, 0.95);
  color: var(--color-white);
}

.media {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}
.media__link {
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  margin: 0 2rem;
  transition: all 0.2s ease;
}
.media__link:hover .media__icon {
  transform: scale(0.9);
}
.media__icon {
  width: 3rem;
  height: 3rem;
  fill: var(--color-white);
}

.copyright {
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
}

.gallery {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 2rem 0;
  height: 50rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  color: var(--color-white);
}
.gallery__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
}
.gallery__item:hover {
  background-size: 140%;
}
.gallery__item--1 {
  background-image: linear-gradient(to top right, rgb(26, 41, 48), rgba(0, 0, 0, 0.85)), url("../img/action.jpg");
  grid-column: 1/3;
  grid-row: 1/3;
}
.gallery__item--2 {
  background-image: linear-gradient(to top right, rgb(26, 41, 48), rgba(0, 0, 0, 0.85)), url("../img/drama.jpg");
  grid-column: 3/5;
  grid-row: 1/3;
}
.gallery__item--3 {
  background-image: linear-gradient(to top right, rgb(26, 41, 48), rgba(0, 0, 0, 0.85)), url("../img/comedy.jpg");
  grid-column: 5/-1;
  grid-row: 1/3;
}
.gallery__item--4 {
  background-image: linear-gradient(to top right, rgb(26, 41, 48), rgba(0, 0, 0, 0.85)), url("../img/horror.jpg");
  grid-column: 1/4;
  grid-row: 3/6;
}
.gallery__item--5 {
  background-image: linear-gradient(to top right, rgb(26, 41, 48), rgba(0, 0, 0, 0.85)), url("../img/thriller.jpg");
  grid-column: 4/6;
  grid-row: 3/6;
}
.gallery__item--6 {
  background-image: linear-gradient(to top right, rgb(26, 41, 48), rgba(0, 0, 0, 0.85)), url("../img/scifi.jpg");
  grid-column: 6/-1;
  grid-row: 3/5;
}
.gallery__item--7 {
  background-image: linear-gradient(to top right, rgb(26, 41, 48), rgba(0, 0, 0, 0.85)), url("../img/romance.jpg");
  grid-column: 1/3;
  grid-row: 6/8;
}
.gallery__item--8 {
  background-image: linear-gradient(to top right, rgb(26, 41, 48), rgba(0, 0, 0, 0.85)), url("../img/crime.jpg");
  grid-column: 3/6;
  grid-row: 6/8;
}
.gallery__item--9 {
  background-image: linear-gradient(to top right, rgb(26, 41, 48), rgba(0, 0, 0, 0.85)), url("../img/adventure.jpg");
  grid-column: 6/-1;
  grid-row: 5/8;
}
.gallery__title {
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 0 2px 4px var(--color-black);
}

.header {
  background-color: var(--color-blue);
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  color: var(--color-white);
  font-size: 1.4rem;
}
@media screen and (max-width: 50em) {
  .header {
    flex-flow: column;
    align-items: center;
  }
}
.header-box {
  display: flex;
  align-items: center;
}
.header__logo-box {
  width: 7rem;
  height: 7rem;
}
@media screen and (max-width: 50em) {
  .header__logo-box {
    padding: 1rem 0;
  }
}
.header__logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__logo-link {
  text-decoration: none;
  font-size: 3rem;
  font-weight: 800;
  color: var(--color-white);
}

.search__form {
  display: flex;
  align-items: center;
}
.search__movie, .search__year {
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 3px;
  margin-right: 0.5rem;
}
.search__movie {
  max-width: 50rem;
}
.search__year {
  max-width: 10rem;
}
.search__btn {
  background-color: var(--color-black);
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  border-radius: 3px;
}
.search__icon {
  width: 1.8rem;
  height: 1.8rem;
  fill: var(--color-white);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  letter-spacing: 1.02rem;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  backdrop-filter: blur(4px);
  transition: all 0.2s ease;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__heading {
  font-size: 3rem;
  text-transform: uppercase;
}
.modal__close {
  background-color: transparent;
  color: var(--color-white);
  font-size: 5rem;
  font-weight: 800;
  border: none;
}
.modal__content {
  background-color: var(--color-blue-light);
  width: 75rem;
  height: 45rem;
  padding: 2rem;
  border-radius: 4px;
}
.modal__message-box {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.modal__message {
  font-size: 2rem;
  font-weight: 800;
  padding: 1rem 0;
}
.modal__icon {
  display: block;
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
}

.movies {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 2rem 0;
  color: var(--color-white);
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.pagination__prev, .pagination__next {
  background-color: var(--color-blue);
  color: var(--color-white);
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  padding: 1.5rem 2.5rem;
  border: none;
  border-radius: 4px;
}
.pagination__next {
  margin-left: auto;
}

.movie {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 4rem 0;
  color: var(--color-white);
  font-size: 1.4rem;
  letter-spacing: 0.25rem;
  position: relative;
}
.movie__heading {
  display: block;
  padding: 1rem 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.movie__close {
  background-color: transparent;
  color: var(--color-white);
  padding: 0.5rem 2.5rem;
  font-size: 5rem;
  font-weight: 600;
  position: absolute;
  top: -1rem;
  right: 0;
  border: none;
  border-radius: 4px;
}
.movie__image-box {
  width: 100%;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.movie__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.movie__tagline {
  position: absolute;
  width: 80%;
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 3.5rem;
  color: var(--color-white);
  text-shadow: 0 2px 4px var(--color-black);
}
.movie__languages, .movie__genres {
  list-style: none;
  display: flex;
  text-transform: uppercase;
}
.movie__languages li, .movie__genres li {
  display: inline-block;
  padding: 0.5rem;
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
