.favourites {
  max-width: var(--page-width);
  min-height: 40rem;
  margin: 0 auto;
  padding: 2rem 0;
  color: var(--color-white);
}

.favourite__item {
  & .card__icon {
    fill: var(--color-red);
  }
}
