.gallery {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 2rem 0;

  height: 75rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  color: var(--color-white);

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &:hover {
      background-size: 140%;
    }

    &--1 {
      background-image: url('../img/action.jpg');
      grid-column: 1 / 3;
      grid-row: 1 / 3;
    }

    &--2 {
      background-image: url('../img/drama.jpg');
      grid-column: 3 / 5;
      grid-row: 1 / 3;
    }

    &--3 {
      background-image: url('../img/comedy.jpg');
      grid-column: 5 / -1;
      grid-row: 1 / 3;
    }

    &--4 {
      background-image: url('../img/horror.jpg');
      grid-column: 1 / 4;
      grid-row: 3 / 6;
    }

    &--5 {
      background-image: url('../img/thriller.jpg');
      grid-column: 4 / 6;
      grid-row: 3 / 6;
    }

    &--6 {
      background-image: url('../img/scifi.jpg');
      grid-column: 6 / -1;
      grid-row: 3 / 5;
    }

    &--7 {
      background-image: url('../img/romance.jpg');
      grid-column: 1 / 3;
      grid-row: 6 / 8;
    }

    &--8 {
      background-image: url('../img/crime.jpg');
      grid-column: 3 / 6;
      grid-row: 6 / 8;
    }

    &--9 {
      background-image: url('../img/adventure.jpg');
      grid-column: 6 / -1;
      grid-row: 5 / 8;
    }
  }

  &__title {
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow: 0 2px 4px var(--color-black);
  }
}
